*.log
*.sqlite3
*.db
*.sql
*.db-journal
*.DS_Store
.env
.idea/
*.iml
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.vscode/
node_modules/
coverage/
dist/
build/
*.egg-info/
venv/
__pycache__/
*.pyc
*.pyo
migrations/
